@import "tailwindcss";

@theme inline {
  --color-primary: #5f7161;
  --color-secondary: #a7c4a0;
  --color-accent: #c9a96e;
  --color-background: #fdfcf9;
  --color-text: #2d3436;
  --font-heading: 'Playfair Display', serif;
  --font-body: 'Poppins', sans-serif;
  --font-sans: 'Poppins', sans-serif;
}

body {
  color: var(--color-text);
  background-color: var(--color-background);
  font-family: var(--font-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}

@layer base {
  * {
    box-sizing: border-box;
  }
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
